body{
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
}
.main{
    display: flex;
    justify-content: center;
}
h3,h1,p{
    text-align: center;
}    
img{
    height: 300px;
}
.size{
    height: 100px;
}

.flexbox{
    display: flex;
    flex-direction: column;
    gap: 90px;
}
.container1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hame{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: auto;
}
.green{
    color: white;
    border: 1px greenyellow solid;
    background-color: greenyellow;
    border-radius: 50px;
    padding: 10px;
}
.blue{
    color: white;
    border: 1px solid deepskyblue;
    background-color: deepskyblue;
    border-radius: 50px;
    padding: 10px;
}
.container2{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.hame2{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.column{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.container3{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container4{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.elder{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.little{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.set{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form{
    height: 30px;
}
.container5{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: auto;
}
.container6{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.attribution{
    display: none;
}
.end{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.in{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.in2{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
footer{
    border: 1px solid #EEF2FE;
    background-color: #EEF2FE;
    padding: 20px;
    width: 100%;
    margin-top: 90px;
}
@media screen and (max-width:376px){
    .flexbox{
        display: flex;
        flex-direction: column;
    }
    .container1,.container2,.container3,.container4,.container4,.container5,.container6{
        display: flex;
        flex-direction: column;
    }
    .hame{
        display: flex;
        flex-direction: column;
    }
    .little{
        display: flex;
        flex-direction: column;
    }
    .end{
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding-left: 300px;
    }
    .hame2{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
}